.card-container{
    margin:2px;
}
.button-style{
    margin-right: 2px;
}

.column-card {
    float: left;
    padding: 2px;
  }
  
  .left-card {
    width: 25%;
  }
  
  .right-card {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }